@media(max-width:1200px){
    html{
        font-size: 15px;
    }
}
@media(max-width:992px){
    .toggle {
        display: block;
        font-size: 25px;
        color: #e4573d;
    }
    .main-nav ul {
        gap: 10px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .main-nav {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        background: #f4f3ec;
        width: 400px;
        z-index: 99;
        padding: 50px;
        transform: translateX(-100%);
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
}
    .menuToggle .main-nav{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transform: translateX(0%);
  
}
    .close{
        display: block;
        font-size: 22px;
        color: #e4573d;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    .hero-banner {
        background-color: #f4f3ec;
        height: 70vh;
        overflow: hidden;
    }
    .banner-img img {
        width: 100%;
    }
}
@media(max-width:850px){
    html{
        font-size: 14px;
    }
    .about-sec .row, .featured-sec .row {
        flex-direction: column;
    }
    .about-sec .col-md-6, .featured-sec .col-md-4 {
        width: 100%;
    }
    .abt-img {
        height: 400px;
        margin-bottom: 20px;
        
    }
    .featured-img {
        height: 400px;
    }
    .featured-wrap {
        margin-bottom: 20px;
    }
    .sub-banner {
        height: 400px;
    }
}
@media(max-width:767px){
    .banner-left {
        position: inherit;
        top: 0;
        margin: 20px 0;
    }
}

@media(max-width:575px){
    html{
        font-size: 14px;
    }
    .hero-banner {
        height: 50vh;
    }
    .abt-img {
        height: 350px;
        margin-bottom: 20px;
    }
    .link-img {
        height: 350px;
    }
    .featured-img {
        height: 350px;
    }
    .footer-logo img {
        max-width: 170px;
    }
    .site-logo img {
        max-width: 120px;
    }
    .main-nav {
        width: 100%;
    }
    .form-subscribe .btn {
        font-size: 1rem;
        height: 40px;

    }
    .site-heading h2 {
        padding: 0 0;
    }
    .banner-img img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .biographies-img {
        height: 300px;
    }
    .sub-banner {
        height: 350px;
    }
}

@media(max-width:375px){
    .sub-banner-text h1 {
        font-size: 2.5125rem;
        word-break: break-all;
    }
    .link-img {
        height: 300px;
    }
    .cookie-alert {
        right: 0 !important;
    }
}