@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html {
    font-size: 16px;
}

/* global css start here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Libre Baskerville", serif;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.3;
}

.ptb-50 {
    padding: 50px 0;
}

.pb-50 {
    padding-bottom: 50px;
}

.ptb-70 {
    padding: 70px 0;
}

.pb-70 {
    padding-bottom: 70px;
}

/* global css end here */


/* header section css start */
.site-logo img {
    max-width: 140px;
}

.main-nav ul li a {
    font-size: 1.25rem;
    color: #333;
    font-weight: 600;
    transition: all 0.3s linear;

}

.main-nav ul li a:hover,
.main-nav ul li a.active {
    color: #e4573d;
}

.main-nav ul {
    display: flex;
    align-items: center;
    gap: 25px;
    text-transform: capitalize;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 0;
    transition: all 0.3s linear;
    background: #fff;

}

.fixed-header {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    transition: all 0.3s linear;

}

.toggle,
.close {
    display: none;
}

/* header section css end */

/* banner section css sart */
.hero-banner {
    background-color: #f4f3ec;
    height: 80vh;
    overflow: hidden;
}

.banner-text h1 {
    font-size: 3.125rem;
    color: #333;
    margin-bottom: 10px;
}

.banner-text p {
    font-size: 1.375rem;
    color: #ababab;
    margin-bottom: 0;
}

.banner-left {
    position: relative;
    top: 55px;
}

.banner-img img {
    width: 95%;
}

/* banner sction css end */

/* about section css start */
.abt-text p {
    font-size: 1.375rem;
    margin-bottom: 0;
    color: #ababab;
}

.abt-img {
    height: 450px;
    overflow: hidden;
}

.abt-img:hover img {
    transform: scale(1.3);
}

.abt-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s linear;

}

.about-sec .row {
    align-items: center;
}

/* about section css end */

/* link card section css start */

.link-img {
    height: 400px;
}

.link-img img {

    height: 100%;
    width: 100%;
    object-fit: cover;
}

.link-text h3 {
    font-size: 1.375rem;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 0;
    font-weight: 700;
    color: #333;
    text-transform: capitalize;
}

.link-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
}

.slick-slide {
    padding: 0 10px;
}

.slick-dots li button:before {
    font-size: 1rem;
}

.slick-dots {
    bottom: -50px;
}

.link-sec {
    background-color: #f4f3ec;
    overflow: hidden;
}

/* link card section end */

/* featured section css start */
.site-heading h2 {
    font-size: 2.1875rem;
    font-weight: 500;
    text-align: center;
    padding: 0 20px;
    word-break: break-all;
    color: #333;
}

.featured-img {
    height: 450px;
}

.featured-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.featured-text {
    text-align: center;
    padding: 15px;
}

.featured-text h3 a {
    font-size: 1.5625rem;
    color: #e4573d;
    line-height: 1.1;
    display: inline-block;
    margin-bottom: 0px;
}

.featured-text h5 {
    font-size: 1.125rem;
    font-weight: 500;
    color: #ababab;
    font-family: "Nunito Sans", sans-serif;

}

.featured-text p {
    margin-bottom: 0;
    color: #000;
    font-size: 1.125rem;
}

a.buy-now {
    background: #e4573d;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 20px;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    border: 1px solid #e4573d;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

a.buy-now:hover {
    background-color: transparent;
    color: #e4573d;
}

.featured-sec .row {
    margin-top: 50px;
}

/* featured section css end */


/* newsletter section css start */

.form-subscribe {
    max-width: 600px;
    margin: 0 auto
}

.form-subscribe .form-control {
    background-color: hsla(0, 0%, 100%, .8);
    padding-left: 24px;
    padding-right: 24px;
    letter-spacing: 1px;
    border: none;
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px;
    border: 1px solid transparent;
}

.form-subscribe .form-control.focus,
.form-subscribe .form-control:focus {
    z-index: 2;
    background-color: hsla(0, 0%, 100%, .8)
}

.form-subscribe .btn {
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    background: #e4573d;
    border-color: #e4573d;
    height: 46.5px;
}

.form-subscribe .btn:hover {
    background-color: #fff;
    color: #e4573d;
}

.newsletter {
    background-color: #f4f3ec;
}

.newsletter h2 {
    font-size: 1.75rem;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 25px;
    color: #333;
}

:focus-visible {
    outline: none;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #e4573d;
}

.btn-check:focus+.btn-success,
.btn-success:focus {
    box-shadow: none;
}

/* newsletter section css end */


/* faq css start */
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

.accordion-button::after {
    transition: all 0.5s;
    background-size: 30px;
    height: 30px;
    width: 30px;
    filter: brightness(1) invert(1);
}

.accordion-item {
    background-color: transparent;
    border: none;
}

.accordion-button:not(.collapsed),
.accordion-button {
    color: #fff;
    background-color: #e4573d;
    box-shadow: none;
}

.accordion-item {
    margin-bottom: 15px;
}

.accordion-body {
    padding: 15px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 0.875rem;
    background: #e4573d36;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

:focus-visible {
    outline: none;
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.accordion-button {
    border-radius: 10px !important;
    font-size: 1.125rem;
    padding: 15px 20px;
}

.accordion-button:not(.collapsed) {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}




div#accordionExample {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
}

/* faq css end */

/* footer section css start */
.site-footer {
    background-color: #f4f3ec;
}

.footer-logo {
    text-align: center;
}

.footer-logo img {
    max-width: 200px;
}

.footer-links ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;

}

.footer-links ul li {
    line-height: normal;
    padding: 0 5px;
}

.footer-links ul li a {
    font-size: 1.125rem;
    color: #333;
    font-weight: 600;
    line-height: normal;

}

.footer-links ul li a:hover {
    color: #e4573d;
}

.social-links ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border: 1px solid;
    font-size: 1.25rem;
    color: #e4573d;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.3s linear;

}

.social-links ul li a:hover {
    background-color: #e4573d;
    color: #fff;
}

.social-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
}

/* footer section css end */

/* sub pages css start */
.sub-banner {
    background-image: url(../images/Autobiographies-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}

.sub-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.3;
}

.sub-banner-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sub-banner-text h1 {
    font-size: 2.8125rem;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.sub-banner-text p {
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 0;
}

.top-text p {
    font-size: 1.125rem;
    text-align: center;
    color: #8b8b8b;
}

.biographies-img {
    height: 400px;
    overflow: hidden;
}

.biographies-img:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.biographies-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.biographies-text h3 a {
    font-size: 22px;
    color: #333;
    line-height: 1.1;
}

.biographies-text h3 a:hover {
    color: #e4573d;
}

.biographies-text h3 {
    line-height: 1.1;
}

.writer p {
    font-size: 1.375rem;
    margin-bottom: 0;
    color: #8b8b8b;
}

.writer {
    margin: 10px 0;
}

.biographies-text h4 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
}

.biographies-text p {
    font-size: 1rem;
    color: #ababab;
}

.price p {
    color: #e4573d;
    font-weight: 700;
}

.biographies-text {
    padding: 20px 0 80px;
}

.moretextt {
    display: none;
}

.biographies-main .row {
    margin-top: 30px;
}

.biographies-wrap {
    height: 100%;
    position: relative;
}

.view-btns {
    position: absolute;
    bottom: 20px;
}

.biographies-main .col-md-6 {
    margin-bottom: 25px;
}

/* sub pages css end */
.privacy-wrap {
    margin: 20px 0;
}

.privacy-wrap p {
    font-size: 1rem;
    color: #8b8b8b;
    margin-bottom: 10px;
}

.privacy-wrap p strong {
    color: #000;
}

.privacy-wrap ul {
    list-style: disc;
    padding-left: 20px;
    margin: 10px 0;

}

.privacy-wrap ul li {
    font-size: 1rem;
    color: #8b8b8b;
    padding: 2px 0;
}

.privacy-wrap ul li a {
    color: #000;
    font-weight: 500;
    text-decoration: underline;
}

.privacy-wrap ul li strong {
    color: #000;
}

.copy-text p {
    margin-bottom: 0;
    font-size: 1rem;
    text-align: center;
    padding: 9px 0;
    color: #8a8a8a;
}